@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GE SS Two";
  src: url("GESSTwoMedium-Medium.woff2") format("woff2"),
    url("GESSTwoMedium-Medium.woff") format("woff"),
    url("GESSTwoMedium-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GE SS Two";
  src: url("GESSTwoBold-Bold.woff2") format("woff2"),
    url("GESSTwoBold-Bold.woff") format("woff"),
    url("GESSTwoBold-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GE SS Two";
  src: url("GESSTwoLight-Light.woff2") format("woff2"),
    url("GESSTwoLight-Light.woff") format("woff"),
    url("GESSTwoLight-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "GE SS Two", sans-serif;


}

.body {
  background-color: rgb(107, 103, 103);
  overflow-x: hidden;


 
}

.background {
  background: linear-gradient(50deg, #eb59b1 10%, #001a78 60%);
}

.box {
  /* background: linear-gradient(to right, c, #ffb4e1); */
  background: rgb(0, 26, 120);
  background: radial-gradient(
    circle,
    rgba(0, 26, 120, 0.375875350140056) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 500px;
  height: 500px;
}
